.step3 {
  width: 100%;
  margin-bottom: 3rem;

  height: 288px;
}

.step3Title {
  font-family: 'Noto Sans TC';
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  /* text-align: left; */
}


.Formrow {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

  /* border: 1px solid yellow; */
}


.FormInput {
  height: 100%;
}

.FormInputTitle {
  font-family: 'Noto Sans TC';
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: #808080;
  margin-bottom: 0.5rem;
}

.FormInputType {
  width: 100%;
  height: 40px;
  padding: 0.75rem 1rem;

  font-family: 'Noto Sans TC';
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

