.StepProgress {
  width: 100%;
  margin-bottom: 4rem;
  /* border: 2px solid blue; */
}

.StepProgressTitle {
  font-family: 'Noto Sans TC';
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 3rem;
}

.progress {
  
  height: 24px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.progressItem {
  position: relative;
  font-family: 'Noto Sans TC';
  font-size: 16px;
  font-weight: 400;
  padding-left: 30px;
  white-space: nowrap;
  color: #AFB1BD;
}

.progressItem + .progressItem {
  margin-left: 124px;
}

.Item1, .Item2, .Item3{
  position: relative;
}

.Item1 {
  color: #2A2A2A;
}


.Item1::before {
  position: absolute;
    top: 0;
    left: 0;
    content: '1';
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    color: white;
    border: 1px solid #2A2A2A;
    height: 24px;
    width: 24px;
    background-color: #2A2A2A;
    border-radius: 50%;
}

.Item2::before {
  position: absolute;
    top: 0;
    left: 0;
    content: '2';
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    color: #AFB1BD;
    border: 1px solid #AFB1BD;
    height: 24px;
    width: 24px;
    background-color: white;
    border-radius: 50%;
}

.Item3::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '3';
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  color: #AFB1BD;
  border: 1px solid #AFB1BD;
  height: 24px;
  width: 24px;
  background-color: white;
  border-radius: 50%;
}


.Item1::after, .Item2::after{

  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  top:50%;
  left: 128px;
  transform: translateY(-50%);
}

.Item1::after {
  background-color: #2A2A2A;
}
.Item2::after {
  background-color: #F0F0F5;
}

.done {
  color: #2A2A2A;
}

.done::before {
  content: '✔︎';
  color: white;
  background-color: #2A2A2A;
  border: 1px solid #2A2A2A;
}

.done::after {
  background-color: #2A2A2A;
}

.highlight {
  color: #2A2A2A;
}

.highlight::before {
  color: #2A2A2A;
  background-color: white;
  border: 1px solid #2A2A2A
}

.highlight::after {
  background-color: #2A2A2A;
}  