.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: white;
}

.headerWrapper {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  grid-template-rows: 60px;
}