.totalRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hr {
  border: 1px solid #F0F0F5;
  height: 1px;
  margin-bottom: 18px;
}


.mainCart {
  width:100%;
  height: 492px;
  padding: 32px 24px 32px 24px;
  border: 1px solid #F0F0F5;
  border-radius: 5px;
}

.mainCartTitle {
  font-family: 'Noto Sans TC';
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: left;
  color: #2A2A2A;
  margin-bottom: 2rem;
}


.CartProduct {
  width: 100%;
  height: 102px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.CartProductImg {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
}

.CartProductRightPart {
  flex-grow: 1;
}

.rightPartTop {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid green; */
  
}
.productName {
  font-family: 'Noto Sans TC';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

}

.productPrice {
  font-family: 'Nunito Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: right;
}

.totalTitle {
  font-family: 'Noto Sans TC';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.totalContent {
  font-family: 'Nunito Sans';
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: right;
}

.rightPartBottom {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.countIcon {
  width: 26px;
  height: 27px;
}

.productNumber {
  width: 53.12px;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
}

.shipping {
  margin-bottom: 2rem;
}

.TotalRow + .TotalRow {
  margin-top: 2rem;
}